<h1>
  Welcome to Rock paper scissors!
</h1>
<webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
        *ngIf="showWebcam"
        [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
        [videoOptions]="videoOptions"
        [imageQuality]="1"
        (cameraSwitched)="cameraWasSwitched($event)"
        (initError)="handleInitError($event)">
</webcam>
<div>
  <button *ngIf="backgroundImage == null" (click)="triggerSnapshot();">Take a background</button>
  <button *ngIf="backgroundImage != null" (click)="triggerSnapshot();">Take a snapshot</button>
</div>

<div *ngIf="result != null">
  <p>Recognized symbol: {{result}}</p>
  <p *ngIf="gameResult == null">Waiting for game result...</p>
  <p *ngIf="gameResult != null">{{gameResult}}</p>
</div>
<br>
<br>
<div class="snapshot" *ngIf="webcamImage">
  <img alt="image" [src]="webcamImage.imageAsDataUrl"/>
</div>
